
<div class="form-w3ls" style="margin-top: 200px;">

    <ul class="tab-group cl-effect-4" style="margin-left: 250px;">
        <li class="tab active"><a href="#signin-agile">Forgot password?</a></li>
    </ul>
    <div class="">
        <div id="signin-agile">   
			<form action="/forgot-password" method="post" id="loginform" >
				
					
                <h2 style="color: red; margin-left: 230px;"></h2>

				<p class="header">Email</p>
				<input type="text" name="email" id="typeEmailX" placeholder="email"   >
				
				
				
				<input type="submit" class="sign-in" value="Submit">
			</form>
		</div>

		
    </div><!-- tab-content -->
</div> <!-- /form -->	  
<!-- js files -->
