

		<div class="colorlib-product">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="featured" style="background-color: #49a4d2;width: 100%;height: 800px;display: flex;justify-content: center;align-items: center;flex-direction: column;">
                            <h1 style="color: white;">Order Placed Successfully</h1>
                            <h4 style="color: white;">You can go to View Order to Check Order</h4>
                            <div>
                               <a href="/view-orders"> <button style="width: 150px;margin-right:10px ;height: 50px;">View Order</button></a>
                                <a href="/home"><button style="width: 150px;height: 50px;">Return To Home</button></a>
                            </div>

						</div>
					</div>
					<!-- <div class="col-sm-6 text-center">
						<div class="featured">
							<a href="#" class="featured-img" style="background-image: url(images/homepage/women.jpg);"></a>
							<div class="desc">
								<h2><a href="#">Shop Women's Collection</a></h2>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
<!-- 
		<div class="colorlib-product">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
						<h2>Products</h2>
					</div>
				</div>
				<div class="row row-pb-md">
					

				 
					<div class="col-lg-4 mb-4 text-center">
						<div class="product-entry border">
							<a href="" class="prod-img">
								<img src="" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
							<div class="desc">
								<h2><a href="#"></a></h2>
								<span class="price">₹</span>
							</div>
						</div>
					</div>
					
				
			
				</div>

				
				<div class="row">
					<div class="col-md-12 text-center">
						<p><a href="#" class="btn btn-primary btn-lg">Shop All Products</a></p>
					</div>
				</div>
			</div>
		</div> -->
<script>
	localStorage.removeItem('coupon')
</script>